body{
    border:  solid black;
}
.details{
    color: blueviolet;
}
.Objective{
    color: blue;
    font-size: 30px;
}
.table{
    color: orangered;
    font-size: 25px;
}
#Skills{
    color: lightsalmon;
}
#Hobbies{
    color: crimson;
}